.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--main-gradient);
    height: 10%;
    width: 100%;

    padding: 20px 10px;

    img {
        width: 70px;
    }

    .punctuation-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        span {
            color: white;
            font-size: var(--fs-600);
            font-weight: var(--fw-600);
        }

        .points-container,
        .timer-container {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px
        }

        .timer-icon,
        .points-icon {
            display: inline-block;

            max-height: 30px;
            width: auto;


            @media (min-width: 1280px) {
                max-height: 50px;
            }
        }

    }
}

main {
    min-height: 80vh;
    padding-inline: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .deck {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;

        grid-auto-flow: dense;

        @media (min-width: 768px) {
            margin: 10%
        }


        .card {

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--card-back);
            border-radius: 10px;

            padding: 20px;
            aspect-ratio: 1/ 1;

            opacity: 0;
            transform: translatey(20px);
            transition: all 0.8s ease-out;


        }

        .animate {
            opacity: 1;
            transform: translateY(0);
        }
    }

}


.footer {
    background: var(--main-gradient);
    display: flex;
    justify-content: flex-end;

    padding: 20px;
    width: 100%;

    .button {

        padding: 0 0 10px 10px;

        .button-content {
            font-size: var(--fs-400);

            @media (min-width: 1280px) {
                font-size: var(--fs-600);
            }

        }

    }

}




dialog {
    background: var(--popup-gradient);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;

    &[open] {
        opacity: 1;
        transform: translateY(0);

        @starting-style {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    h2 {
        font-size: var(--fs-600);
        line-height: 2.5rem;
    }

    img {
        max-block-size: 40vh;
    }
    
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin-block: 20px;
    
        .button {
            padding: 0 0 10px 10px;
        }
    
        .button-content {
            font-size: var(--fs-400);
            font-weight: var(--fs-400);
        }
    }
}




