body {
    background: var(--main-gradient);

    font-family: var(--ff-poppins);
    font-size: var(--ff-400);
    font-weight: var(--fw-400);

    display: flex;
    flex-direction: column;
    align-items: center;

}


/* Button component */

.button {
    background: var(--shadow-gradient);
    padding: 0 0 20px 20px;
    border-radius: 32px;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
    aspect-ratio: 200 / 40;

    &:hover {
        transform: scale(1.2);
    }

    @media (hover: none) {
        &:active {
            transform: scale(1.2);
        }
    }

    .button-content {
        background: var(--accent-gradient);
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 10px 20px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 32px;
        aspect-ratio: 200 / 40;
    
    
    }


}

.button-content:focus {
    outline: none;
}




/* Music toggle Component */

.btn-sound {
    font-size: var(--fs-600);
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    &:hover {
        border: 2px solid black;
    }
    
}

