:root {

    /* colors */

    --main-gradient: linear-gradient(0deg, rgba(75,196,72,1) 0%, rgba(160,232,175,1) 100%);
    
    --accent-gradient: linear-gradient(90deg, rgba(255,30,116,1) 50%, rgba(254,154,26,1) 100%);
    --shadow-gradient: linear-gradient(90deg, rgba(197,8,126,1) 50%, rgba(254,154,26,1) 100%);
    
    --popupwinner-gradient: linear-gradient(0deg, rgba(140,200,0,1) 0%, rgba(191,255,0,1) 100%);
    --popuploser-gradient: linear-gradient(0deg, rgba(153,0,0,1) 0%, rgba(255,0,0,1) 100%);

    --card-back: rgb(227, 227, 227);

    /* fonts */

    --ff-poppins: 'Poppins', sans-serif;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.875rem;
    --fs-900: 4rem;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}